body {
	background-image: url('./images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
}

.header {
	min-height: 30vh;
	width: 80%;
	background-color: black;
	border: 8px solid gray;
	border-radius: 5%;
	margin: 10px auto;
	&__title {
		padding: 20px;
		text-align: center;
	}
}

.nav {
	min-height: 10vh;
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		list-style: none;
		&__link {
			display: block;
			font-size: 1.8rem;
			letter-spacing: 1px;
			text-transform: uppercase;
			text-decoration: none;
			color: white;
			transition: 0.1s;
			&:hover {
				border-bottom: 4px solid black;
			}
		}
	}
}

.main {
	min-height: 70vh;
	width: 80%;
	background-color: black;
	border: 8px solid gray;
	border-radius: 5%;
	margin: 10px auto;
	overflow: hidden;
}

// todo
.todo {
	padding: 5px;
	&__result {
		display: block;
		text-align: center;
		font-size: 1.4rem;
		font-weight: bold;
		padding: 5px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-shrink: 0;
		&__input {
			width: 40%;
			font-size: 1.2rem;
			padding: 4px;
			margin: 5px 0 5px 0;
			&--checkbox {
				height: 20px;
				width: 20px;
			}
		}
		&__label {
			font-size: 1.1rem;
			&--checkbox {
				color: red;
			}
		}
		&__button {
			background-color: black;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			padding: 5px;
			margin-bottom: 10px;
			cursor: pointer;
			&--add {
				width: 20%;
				height: 30px;
				border: 3px solid green;
			}
			&--delete {
				display: block;
				width: 10%;
				margin: 0 auto 10px auto;
				border: 3px solid red;
				color: red;
			}
		}
	}
	&__list {
		list-style: none;
		&__task {
			text-align: center;
			text-transform: uppercase;
			&--important {
				color: red;
				font-weight: bold;
			}
		}
	}
}

// form
.loginPanel {
	display: flex;
	flex-direction: column;
	padding: 5px;
	&__title {
		text-align: center;
		padding-bottom: 2%;
	}
	&__label {
		text-transform: uppercase;
		font-weight: bold;
		padding: 1% 30%;
	}
	&__input {
		width: 40%;
		height: 30px;
		align-self: center;
	}
	&__message {
		align-self: center;
		text-align: center;
		padding-bottom: 5px;
		font-size: 0.7rem;
		color: red;
		&--correct {
			color: green;
			text-transform: uppercase;
		}
	}
	&__button {
		align-self: center;
		width: 25%;
		height: 40px;
		margin: 2% 0;
		padding: 5px;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		border: 4px solid gray;
		background-color: green;
		cursor: pointer;
	}
}

//admin panel
.admin {
	display: flex;
	flex-direction: column;
	padding: 5%;
	&__title {
		padding-bottom: 10%;
		color: green;
		text-align: center;
	}
	&__link {
		text-align: center;
		font-size: 1.2rem;
		color: white;
		padding-top: 10%;
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	background-color: white;
	color: black;
	opacity: 0.6;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
}
